<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos Lulu Jeans</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="../styles/sass/main.css" media="screen" />
    <link rel="shortcut icon" href="../img/logo.jpg" type="image/x-icon">
</head>
<body>
    <!-- Cabecera -->
    <header class="cabecera">
        <div><p>ENVÍOS A TODO EL PAÍS - ¡GRATIS! A PARTIR DE SU COMPRA DE $20.000 </p></div>
    </header>

    <!-- Barra de navegación -->
    <nav class="navbar navbar-expand-lg claseNav">
        <div class="container">
        <a class="navbar-brand d-none d-sm-block" href="#">
            <img src="../img/logo.jpg" alt="Logo" class="claseImgNav">
        </a> 

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="claseAnclaNav" href="./index.html" class="claseAnclaNav">Inicio</a> 
            </li>
            <li class="nav-item">
                <a class="claseAnclaNav" href="./aboutUs.html" class="claseAnclaNav">Acerca de nosotros</a>
            </li>
            <li class="nav-item">
                <a class="claseAnclaNav" href="./products.html" class="claseAnclaNav">Productos</a>
            </li>
            <li class="nav-item">
                <a class="claseAnclaNav" href="./contact.html" class="claseAnclaNav">Contacto</a>
            </li>
            <li class="nav-item">
                <a class="claseAnclaNav" href="./termsAndConditions.html" class="claseAnclaNav">Términos y condiciones</a>
            </li>
            </ul>
        </div>
        </div>
    </nav>

    
    <!-- Contenido principal -->
    <main>
        <!-- Título de la page -->
      <section>
        <div class="centrado">
            <!-- Imagen del logo de la empresa que aparece cuando el ancho de la pantalla llega a small -->
            <a class="d-block d-sm-none w-50 mt-2 mx-auto" href=" ">
                <img src="../img/logo.jpg"  alt="Logo Empresa" class="img-fluid d-block mx-auto logoEmpresa" />
            </a>
            <h1 class="titleSection">Productos</h1>
        </div>
      </section>
        <!-- Contenedor de las cards de los productos -->
        <section>
            <div class="containerProductCard">
                <div class="productCard">
                  <img src="../img/products/jeans-odele.jpg" alt="jeans-odele">
                  <h3>Jeans Odele</h3>
                  <p>$14.000</p>
                  <button>Ver detalles</button>
                </div>
                <div class="productCard">
                  <img src="../img/products/jean-landon-cargo.jpg" alt="jean-landon-cargo">
                  <h3>Jean Landon Cargo</h3>
                  <p>$15.780</p>
                  <button>Ver detalles</button>
                </div>
                <div class="productCard">
                  <img src="../img/products/jeans-mom-cooper.jpg" alt="jeans-mom-cooper">
                  <h3>Jeans Mom Cooper</h3>
                  <p>$9.300</p>
                  <button>Ver detalles</button>
                </div>

                <div class="productCard">
                    <img src="../img/products/jeans-oxford-bricio.jpg" alt="jeans-oxford-bricio">
                    <h3>Jeans Oxford Bricio</h3>
                    <p>$8.500</p>
                    <button>Ver detalles</button>
                  </div>
                  <div class="productCard">
                    <img src="../img/products/jeans-semi -oxford-kabir.jpg" alt="jeans-semi-oxford-kabir">
                    <h3>Jeans Semi Oxford Kabir</h3>
                    <p>$11.900</p>
                    <button>Ver detalles</button>
                  </div>
                  <div class="productCard">
                    <img src="../img/products/jeans-wid-leg-oporto.jpg" alt="jeans-wid-leg-oporto">
                    <h3>Jeans Wid Leg Oporto</h3>
                    <p>$16.800</p>
                    <button>Ver detalles</button>
                  </div>
              </div>
        </section>
    </main>
 
    <!-- Footer -->
    <footer class="claseFooter text-dark pt-5 pb-4">
        <div class="container text-center text-md-start">
            <div class="row text-center text-md-start">
                
            <div class="col-lg-3 col-md-3 col-sm-12 col-12 mx-auto">      
                <div>
                    <img src="../img/logo.jpg" alt="Logo" class="claseImgNav">
                </div>
            </div>
       
            <div class="col-lg-3 col-md-3 col-sm-12 col-12 mx-auto footerNav">      
                <ul class="claseFooterLista">
                    <li class="claseFooterItem"><a href="#">Inicio</a></li>
                    <li class="claseFooterItem"><a href="./views/aboutUs.html">Acerca de nosotros</a></li>
                    <li class="claseFooterItem"><a href="./views/products.html">Productos</a></li>
                    <li class="claseFooterItem"><a href="./views/contact.html">Contacto</a></li>
                    <li class="claseFooterItem"><a href="./views/termsAndConditions.html">Términos y condiciones</a></li>
                </ul>
            </div>
    
            <div class="col-lg-3 col-md-3 col-sm-12 col-12 mx-auto">      
                <div style="margin: 1.4rem; color: #861414;">
                    <div style="display: inline-block; margin: 0.8rem;">
                        <a href="#" class="text-white"> <i class="fab fa-facebook"></i></a>
                    </div>
                    <div style="display: inline-block; margin: 0.8rem;">
                        <a href="#" class="text-white"> <i class="fab fa-twitter"></i></a>
                    </div>
                    <div style="display: inline-block; margin: 0.8rem;">
                        <a href="#" class="text-white"> <i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </footer>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>      
</body>
</html>