<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Términos y Condiciones</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="../styles/sass/main.css" media="screen" />
    <link rel="shortcut icon" href="../img/logo.jpg" type="image/x-icon">
</head>
<body>
    <!-- Cabecera -->
    <header class="cabecera">
        <div><p>ENVÍOS A TODO EL PAÍS - ¡GRATIS! A PARTIR DE SU COMPRA DE $16.000 </p></div>
    </header>

    <!-- Navegación -->
    <!-- Barra de navegación -->
    <nav class="navbar navbar-expand-lg claseNav">
        <div class="container">
        <a class="navbar-brand d-none d-sm-block" href="#">
            <img src="../img/logo.jpg" alt="Logo" class="claseImgNav">
        </a> 

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="claseAnclaNav" href="./index.html" class="claseAnclaNav">Inicio</a> 
            </li>
            <li class="nav-item">
                <a class="claseAnclaNav" href="./aboutUs.html" class="claseAnclaNav">Acerca de nosotros</a>
            </li>
            <li class="nav-item">
                <a class="claseAnclaNav" href="./products.html" class="claseAnclaNav">Productos</a>
            </li>
            <li class="nav-item">
                <a class="claseAnclaNav" href="./contact.html" class="claseAnclaNav">Contacto</a>
            </li>
            <li class="nav-item">
                <a class="claseAnclaNav" href="./termsAndConditions.html" class="claseAnclaNav">Términos y condiciones</a>
            </li>
            </ul>
        </div>
        </div>
    </nav>

    <!-- Contenido principal -->
    <main>
        <section>
            <div class="centrado">
                <!-- Imagen del logo de la empresa que aparece cuando el ancho de la pantalla llega a small -->
                <a class="d-block d-sm-none w-50 mt-2 mx-auto" href=" ">
                    <img src="../img/logo.jpg"  alt="Logo Empresa" class="img-fluid d-block mx-auto logoEmpresa" />
                </a>
                <h1 class="titleSection">Términos y condiciones</h1>
            </div>
        </section>

        <section>
            <div class="containerTerms">
                <h1>1. Garantía de los productos</h1>
                <p> La venta de los productos se realiza por cuenta y orden del proveedor. La garantía de los productos que se adquieren a través de LULU JEANS SRL es la que ofrecen los fabricantes y/o proveedores de los mismos (6 meses), que son los únicos responsables directos. Una vez transcurrido el plazo establecido el plazo de 10 (diez) días desde la obtención del producto, cualquier reclamo deberá ser dirigido contra el fabricante y/o proveedor del producto.</p>
                <h1>2. Derecho de arrepentimiento. Devolución de los productos</h1>
                <p>El Usuario tendrá derecho a devolver los productos adquiridos en la Tienda durante el plazo de 10 (diez) días corridos, contados a partir de la entrega. Para esto deberá notificar de manera fehaciente a LULU JEANS SRL, dentro del plazo señalado, y poner a su disposición el o los productos adquiridos. Los productos deberán estar en el mismo estado en que fueron recibidos, sin haber sido utilizados, con el embalaje y sus etiquetas originales. LULU JEANS SRL devolverá al Usuario todos los importes recibidos. Los gastos de devolución correrán por cuenta del cliente.<br/>
                   Asimismo, si el o los productos presentaren algún defecto de fabricación, hubieren sufrido roturas o deterioros en tránsito, o fueren despachados equivocadamente, el Usuario deberá comunicarse dentro del plazo mencionado en el párrafo anterior, para que LULU JEANS SRL proceda, según corresponda, a gestionar el re-despacho de la compra, o pasar a retirar la orden.<br/>
                   Los productos no deben haber sido utilizados, y deben encontrarse en las mismas condiciones en que fueron recibidos, con sus embalajes y etiquetas.
                </p>
                <h1>3. Medios de pago</h1>
                <p>Todos los precios en la Tienda están expresados en pesos argentinos, moneda de curso legal de la República Argentina.<br/>
                   Los pagos podrán realizarse con todas las tarjetas de crédito y débito y en efectivo.<br/>
                   Todos los medios de pago están sujetos a que el importe sea debidamente acreditado y/o verificado.</p>
                <h1>4. Envío de productos dentro del país. Tiempo de entrega</h1>
                <p>Las entregas se realizarán en la dirección que el Usuario indique. <br/>
                    El tiempo de entrega depende de la disponibilidad del producto, del tiempo de envío y de la aprobación del medio de pago. Los días que se indiquen son estimativos. Los envíos se realizan en toda la República Argentina. <br/>
                    Desde el momento en que el pedido sale de nuestro depósito, la entrega se realiza en un promedio de 7 a 15 días hábiles dependiendo de la demora que tenga OCA en su localidad. Únicamente realizamos envíos con OCA. En caso de querer que se envie con otra empresa o expreso, podes contactarte con nosotros para coordinar la entrega del paquete a la encomienda, haciéndose cargo del envio y la gestión del retiro del mismo. En este caso, la pérdida o daño del paquete es responsabilidad del cliente.
                </p>
                <h1>5. Derechos reservados. Propiedad Intelectual</h1>
                <p>Todos los derechos de la presente Tienda están reservados y corresponden a LULU JEANS SRL.<br/>
                    El contenido de la presente Tienda, incluyendo aunque no limitado al texto, logos, gráficos, y todo el diseño en general, así como su base de datos y software, es de propiedad de LULU EANS SRL. Tiene derecho a usarlo en virtud de licencias de uso otorgadas y se encuentra protegido por las legislación nacional e internacional vigente sobre propiedad intelectual.<br/>
                    Si el Usuario considera que en la Tienda se viola o atenta de algún modo contra derechos de propiedad intelectual de terceros deberá notificarlo a LULU JEANS SRL .en la dirección indicada en los presentes Términos y Condiciones Generales, acompañando toda la información y documentación necesaria que respalde la mencionada consideración.<br/>
                  </p>
            </div>
        </section>
        
    </main>
 
    <!-- Footer -->
    <footer class="claseFooter text-dark pt-5 pb-4">
        <div class="container text-center text-md-start">
            <div class="row text-center text-md-start">
                
            <div class="col-lg-3 col-md-3 col-sm-12 col-12 mx-auto">      
                <div>
                    <img src="../img/logo.jpg" alt="Logo" class="claseImgNav">
                </div>
            </div>
       
            <div class="col-lg-3 col-md-3 col-sm-12 col-12 mx-auto footerNav">      
                <ul class="claseFooterLista">
                    <li class="claseFooterItem"><a href="#">Inicio</a></li>
                    <li class="claseFooterItem"><a href="./views/aboutUs.html">Acerca de nosotros</a></li>
                    <li class="claseFooterItem"><a href="./views/products.html">Productos</a></li>
                    <li class="claseFooterItem"><a href="./views/contact.html">Contacto</a></li>
                    <li class="claseFooterItem"><a href="./views/termsAndConditions.html">Términos y condiciones</a></li>
                </ul>
            </div>
    
            <div class="col-lg-3 col-md-3 col-sm-12 col-12 mx-auto">      
                <div style="margin: 1.4rem; color: #861414;">
                    <div style="display: inline-block; margin: 0.8rem;">
                        <a href="#" class="text-white"> <i class="fab fa-facebook"></i></a>
                    </div>
                    <div style="display: inline-block; margin: 0.8rem;">
                        <a href="#" class="text-white"> <i class="fab fa-twitter"></i></a>
                    </div>
                    <div style="display: inline-block; margin: 0.8rem;">
                        <a href="#" class="text-white"> <i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

</body>
</html>