
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap&family=Lora');

$color-strong: #8f2323;
$color-light: #752424;
$color-hover-a: #7e7777;
$font-common: 'Lora', serif;
$font-secondary:'Quicksand', sans-serif;
